<mat-card id="card-patient">
    <div id="infoPatient">
        <h1>Patient</h1>
        

        <div class="liste_patients">
            <!--<p> Choisissez votre patient :</p> -->
            <div *ngIf="patients">
                <mat-form-field appearance="fill">
                    <mat-label>Patients</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let pat of patients" [value]="pat.name[0].given + pat.name[0].family"
                            (click)="selectPatient(pat.id)">
                            {{ pat.name[0].given }} {{ pat.name[0].family }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div *ngIf="patient">
                <div *ngIf="patient">
                    <app-evenements [patient]="patient.id"></app-evenements>
                </div>
            </div>
        </div>
    </div>
</mat-card>