<mat-card id="card-evenement">
    <div id="event">



    </div>
    <div *ngIf="conditions">
        <h1>Evénements</h1>
        <div *ngFor="let condition of conditions">
            <ul>
                <div *ngIf="condition.recordedDate && condition.code && condition.code.coding && condition.note"
                    style="margin-bottom: 10px; color: #03045E ;">
                    <li>
                        <strong> Evénement reporté le : </strong> {{ condition.recordedDate }}.
                        <strong>Incident : </strong>{{ condition.code.coding[0].display }}.
                        <strong>Notes supplémentaires : </strong> {{ condition.note[0].text }}
                    </li>
                </div>
            </ul>
        </div>
        <div *ngIf="!conditions || conditions.length == 0">
            <p style="color: #03045E ;">Pas de d'événements à déclarer pour le patient sélectionné !</p>
        </div>
    </div>


    <img id="img" height="250px" src="../../../assets/docteur-event.jpg">
</mat-card>