<mat-toolbar color="primary">
    <mat-toolbar-row>
        <img id="logo" src=".\assets\logo.png" alt="logo"/>
        <button class="button type2"><a href="#card-patient">Patients</a></button>
        <button class="button type2" ><a href="#card-evenement">Evénements</a></button>
        <button class="button type2"><a href="#card-observation">Compte Rendu</a></button>
        <!-- <button id="parametres"></button> -->
    </mat-toolbar-row>
</mat-toolbar>

<div id="container">

<app-utilisateur></app-utilisateur>

<app-patients></app-patients> 

<app-observations></app-observations>

</div>