/*#obs{
    
    border-radius: 50px;
    right: 2%;
    top: 230%;
    width: 70%;
    height: 60%;
    background-color: rgba(0, 119, 182, 0.6);
}

#img415{

    top: 200%;
    left: 2%;
    width: 60%;
    z-index: -2;
}*/
